<!-- quick inline add -->
<app-inlineadd></app-inlineadd>
<!-- note items -->
<div class="row">
  <ul class="list-group notes" *ngIf="notesService.notes.length !== 0">
    <li *ngFor="let note of notesService.notes" class="list-group-item vertical-center">
      {{ note.title }}
      <span>
        <button type="button" class="btn btn-secondary" [routerLink]="['detail', note.id]">
          <span class="fas fa-info-circle"></span>
        </button>
        <button type="button" class="btn btn-secondary" [routerLink]="['edit', note.id]">
          <span class="fas fa-edit"></span>
        </button>
        <button type="button" class="btn btn-danger" (click)="delete(note)">
          <span class="fas fa-trash"></span>
        </button>
      </span>
    </li>
  </ul>
  <p *ngIf="notesService.notes.length === 0">{{ resources.dict?.emptyList }}</p>
</div>