<form [formGroup]="inlineAddForm" id="inlineAddForm" (ngSubmit)="addNote(inlineAddForm.value)">
  <div class="input-group mb-3">
    <input type="text"
           [formControl]="titleFormControl" 
           name="title" 
           class="form-control" 
           placeholder='{{ resources.dict?.addNotePlaceHolder }}' 
           aria-describedby="basic-addon2" required >
    <div class="input-group-append">
      <button type="submit" form="inlineAddForm" class="btn btn-primary" [disabled]="!inlineAddForm.valid">{{ resources.dict?.addNoteLabel }}</button>
    </div>
  </div>
</form>